*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    color: rgb(235, 235, 235);
}

body{
    background: rgb(20, 20, 20);
}

ul{
    padding: 0;
}

li{
    border-radius: 10px;
}

article{
    border-radius: 10px;
    background: rgb(40, 40, 40);
    cursor: pointer;
    overflow: hidden;
}

::-webkit-scrollbar-corner{
    display: none;
}

::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: rgb(131, 131, 131);
    border-radius: 10px;
}

#arcs-list {
    overflow: hidden;
}

.arrow{
    background: linear-gradient(to right, transparent 0%, rgba(20, 20, 20, 0.5) 50%);
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
}

#slider-arrow-left {
    rotate: 180deg;
    left: 0;
    display: none;
}

#slider-arrow-rigth {
    right: 0;
}

header input{
    height: 30px;
    width: 300px;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background: rgb(40, 40, 40);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 30px;
    gap: 15px;
    height: 55vh;
    position: relative;
}

header article{
    background: rgb(40, 40, 40);
    height: 250px;
    width: 200px;
    position: relative;
}

header article p {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.618) 70%);
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

header article img{
    opacity: 65%;
    object-fit: scale-down;
    transition: all .3s ease-in-out;
}

header article img:hover{
    opacity: 1;
}

header ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    overflow-x: scroll;
    width: 100%;
    height: 275px;
}

main{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100px;
    padding: 30px;
    gap: 10px;

    height: calc(100vh - 60px);
}

main ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    overflow-y: scroll;
    padding-right: 10px;
}

main li{
    min-height: 200px;
    max-height: 200px;
    background: rgb(40, 40, 40);
}

main article{
    height: 100%;
    width: 100%;
    position: relative;

    p {
        position: absolute;
        width: calc(100% - 16px);
        bottom: 0;
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.618) 70%);
        padding: 5px 8px;
        font-size: 20px;
    }
}

video{
    border-radius: 10px;
    height: calc(100vh - 60px);
    width: 100%;
    background: rgb(40, 40, 40);
    justify-self: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 100px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: rgb(40, 40, 40);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
    color: rgba(211, 211, 211, 0.507);
    font-size: medium;
}

footer img{
    height: 70px;
    width: 70px;
    background: transparent;
}

a{
    text-decoration: none;
}

#video-container, #episodes-list {
    padding-top: 10px;
}

#video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
}

li img{
    opacity: 40%;
    scale: 2.4;
}

#video-overlay {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.618) 70%);
    height: 100%;
    width: 100%;
    position: absolute;
    animation: onScreen .3s ease-in-out;
    cursor: pointer;
}

#video-info {
    position: absolute;
    bottom: 0;
    margin: 200px 50px;
    background: transparent;

}

#video-info h1{
    background: transparent;
}

#video-info p{
    background: transparent;
}

#video-overlay svg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    scale: .2;
    background: transparent;
    display: none;
}

@keyframes onScreen {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@media (width <= 600px){
    header{
        height: 100%;
        padding: 10px;
        padding-right: 0px;
    }

    header ul{
        gap: 10px;
    }

    header li{
        img{
            background: rgb(40, 40, 40);
        }
    }

    main{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;
    }

    main ul{
        flex-direction: row;
        padding-right: 0px;
        overflow-y: auto;
    }

    main article{
        height: calc(100%);
        width: 200px;
        position: relative;
    }

    main article p {
        position: absolute;
        width: calc(100% - 16px);
        bottom: 0;
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.618) 70%);
        padding: 5px 8px;
        font-size: medium;
    }

    video{
        height: auto;
        min-height: 210px;
        max-height: 210px;
    }

    #video-info{
        margin: 1rem;
    }

    footer{
        margin-top: 10px;
        padding: 20px;
    }

    #arcs-list{
        overflow: scroll;
    }

    .arrow{
        display: none;
    }
}